In [70]:
#Assigning values
a=15
name="varsh"
salary=9874.10
print(a)
print(name)
print(salary)

15
varsh
9874.1

In [7]:
#Assigning multiple values
a,b,c=2,20,20
print(a)
print(b)
print(c)
x=y=z=1
print(x)

2
20
20
1

In [8]:
#String Literals
var1 = 'Hi How are you?'
var2 = "Hello World!"
print(var1)
print(var2)

Hi How are you?
Hello World!

In [2]:
#Special literal NONE
value1 = None
print(value1)

None

In [4]:
#string literal
text='hello \
world'
print(text)

#multiline ''' '''
text1='''Hi
How 
are 
you?'''
print(text1)

hello world
Hi
How
are
you?

In [5]:
#arithmetic opeartions +,-,*,/,%
print(4+5)
print(4%5)

9
4

In [6]:
#assignment Operator =,+=,-=
a=10
a*=10
print(a)

100

In [8]:
#Comparison Operators <,>,<=,>=
a=6
b=5
print(a>b)
print(a==b)

True
False

In [16]:
#logical operators and,or,not
a=4
b=5
print(a>=0 and b<=0)
print(a>=0 or b<0)
print(not(a))
print(not(not(a)))

False
True
False
True

In [23]:
#Bitwise operator &,|,>>,<<..
a=5
b=7
c=2
print(a|b)
print(a&1)
print(c<<1)

7
1
4

In [19]:
#identity operator is,isnot
x=10
print(x is 10)
x is not 10

True

False

In [25]:
#membership operator in,not in
pets=['dog','cat']
print('dog' in pets)
'sheep' in pets

True

False

In [27]:
#data types in python
message ='hello'
num=7777
pi=3.14
print(type(message))
print(type(num))
print(type(pi))

<class 'str'>
<class 'int'>
<class 'float'>

In [31]:
#data type string
var1='hello world'
var2='python language'
print(var1[0:5])
print(var2[0])

hello
p

In [33]:
#find()
var1='hello world'
print(var1.find("world"))
print(var1.find('kkk'))

6
-1

In [34]:
#replace()
print(var1.replace('world','Python'))

'hello Python'

In [37]:
#split()
str='world,world,world'
str.split(',')

['world', 'world', 'world']

In [20]:
#tuples
mytuple=(1,3,2,5)
type(mytuple)

tuple

In [21]:
#concatenation
mytuple+=(6,)
print(mytuple)

(1, 3, 2, 5, 6)

In [22]:
#repetation
mytuple*3

(1, 3, 2, 5, 6, 1, 3, 2, 5, 6, 1, 3, 2, 5, 6)

In [23]:
#indexing 
print(mytuple[2])
print(mytuple[:])
print(mytuple[1:3])
print(mytuple[-1])

2
(1, 3, 2, 5, 6)
(3, 2)
6

In [25]:
#List
#append()
list1=[2,'b',3,5,'e']
list1.append(9)
print(list1)
list1.append([1,2])
print(list1)
#extend()
list1.extend(['hello','no'])
print(list1)
#insert()
list1.insert(2,'hi')
print(list1)

[2, 'b', 3, 5, 'e', 9]
[2, 'b', 3, 5, 'e', 9, [1, 2]]
[2, 'b', 3, 5, 'e', 9, [1, 2], 'hello', 'no']
[2, 'b', 'hi', 3, 5, 'e', 9, [1, 2], 'hello', 'no']

In [27]:
#Dictonaries
myDict={1:'apple',2:'mango'}
myDict

{1: 'apple', 2: 'mango'}

In [28]:
#Mixed keys
myDict={'name':'aish',1:[2,3,4]}
myDict

{'name': 'aish', 1: [2, 3, 4]}

In [31]:
#accessing Dictionary
print(myDict[1])
print(myDict['name'])
print(myDict[1][2])

[2, 3, 4]
aish
4

In [32]:
#Length of Dictonary
len(myDict)

2

In [33]:
myDict.keys()

dict_keys(['name', 1])

In [34]:
myDict.values()

dict_values(['aish', [2, 3, 4]])

In [39]:
#Sets
set1={1,2,3,4,6,6,6,4}
set1

{1, 2, 3, 4, 6}

In [40]:
set1.add(8)
print(set1)

{1, 2, 3, 4, 6, 8}

In [41]:
set1={1,4,2,7,6,6}
set2={5,8,1,11,5}
set1|set2  #union

{1, 2, 4, 5, 6, 7, 8, 11}

In [42]:
set1&set2 #intersection

{1}

In [43]:
set1 - set2 #difference

{2, 4, 6, 7}

In [46]:
#flow control
a=3
if(a>3):
    print("hi")
else:
    print("hello")

hello

In [48]:
#nested block
a=1
if(a>=10):
    print("greater than 10")
elif(a<=8 and a>=5):
    print("between 5 and 8")
else:
    print("less than 5")

less than 5

In [47]:
#for loop
fruits=['mango','orange','apple']
for x in fruits:
    print(x)

mango
orange
apple

In [59]:
for i in range(1,11):
    if i%2:
        print(str(i),"is odd")
    else: 
        print(i,"is even")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [60]:
#functions
def add(a,b):
    return a+b
add(2,4)

6

In [62]:
#pass by value 
a=10
def Change(b):
    print("value of b is",b)
    b=100
    print("New value of b is",b)
Change(a) # we pass copy of a
print(a)

value of b is 10
New value of b is 100
10

In [65]:
#pass by reference
c=[10,20,30]
print(c)
def Change(d):
    print('value of d is',d)
    d[0]=1
    d[1]=2
    print('new value of d is',d)
Change(c)
print('outside function value of c is',c)

[10, 20, 30]
value of d is [10, 20, 30]
new value of d is [1, 2, 30]
outside function value of c is [1, 2, 30]

In [64]:
#lambda function
#lambda arguments :expression
x=lambda a:a+10
print(x(5))

15

In [69]:
x=lambda a,b:a*b
print(x(3,5))

def mul(a,b):
    print(a*b)
mul(3,4)

15
12